# Python internals
__pycache__/
*.pyc

# Virtual environments
.venv*/
venv*/
env*/

# Build artifacts
dist/
build/
*.egg-info/
src/diaad.egg-info/
*manual.pdf

# DIAAD-specific
test_data/
diaad_data/output/
diaad_data/input/

# System files
.DS_Store

# Temporary files
*.xlsx
*.cha
tmp*/
.diaad_examples_tmp_*/
_dx_*/

google_creds.json

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Configs
config.yaml
project.yaml
advanced.yaml
*.secrets.yaml

# Cache dirs (used by tools)
.cache/
.mypy_cache/
.pytest_cache/
pytest-cache-files-*/
.tox/
.coverage
htmlcov/

# IDE/editor stuff
.vscode/
.idea/
*.swp
.devcontainer/
.devcontainer.json

# Example files
example_files/
